* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f6f7fb;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
  width: 45px;
}

.menu button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}

.menu button:hover {
  color: #5b5ff8;
}

.banner {
  width: 100%;
  height: 420px;
  background: url("../ngoding.jpg") center/cover no-repeat;
  position: relative;
}

.banner-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.banner-text {
  max-width: 600px;
  color: white;
}

.banner-text h2 {
  font-size: 42px;
  font-weight: bold;
}

.banner-text p {
  margin: 15px 0;
  font-size: 16px;
  color: #f1f1f1;
}

.primary-btn {
  padding: 10px 25px;
  background: #5b5ff8;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #4a4edc;
}

.section {
  margin: 50px 20px;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}
.section ul {
  margin-top: 10px;
  margin-left: 20px;
}
.section h3 {
  margin-bottom: 20px;
   margin-top: 30px;
}
.dot {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden; 
  margin: auto;
  background: #5b5ff8;
}

.dot img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.hq {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 30px;
}
.circle {
  text-align: center;
}

.dot {
  width: 80px;
  height: 80px;
  background: #5b5ff8;
  border-radius: 50%;
  margin: auto;
}

.circle p {
  margin-top: 12px;
  
}

.form-container {
  display: flex;
  gap: 30px;
}

form {
  width: 300px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

textarea {
  height: 80px;
}

form button {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  background: #5b5ff8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background: #4a4edc;
}

.result-box {
  background: #f6f7fb;
  padding: 15px;
  width: 300px;
  min-height: 180px;
  border-radius: 8px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.portfolio-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.portfolio-card:hover {
  transform: translateY(-8px);
}

.portfolio-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.portfolio-card h4 {
  margin: 15px;
  font-size: 18px;
}

.portfolio-card p {
  margin: 0 15px 20px;
  font-size: 14px;
  color: #666;
}


footer {
  text-align: right;
  padding: 15px 20px;
  font-size: 12px;
  color: #777;
}

@media (max-width: 768px) {
  .banner {
    height: 320px;
  }

  .banner-overlay {
    padding: 0 20px;
    justify-content: center;
    text-align: center;
  }

  .form-container {
    flex-direction: column;
  }

  /* .hq {
    flex-direction: column;
    align-items: center;
  } */
}
